.bg-aboutus {
    background-image: url("../images/bg.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    z-index: -1;
    filter: grayscale(50%);
}

.about-us {
    width: 70%;
    margin: 40px auto;
    text-align: center;
}

.about-us h1 {
    font-size: 40px;
    font-weight: bold;
    color: red;
}

.about-us p {
    font-size: 20px;
    line-height: 2;
    font-weight: bold;
}
.aboutus-ul{
   
    margin: 0;
    padding : 0;
    width: 60%;
    margin: auto;
    text-align: right;
}
.aboutus-li {
    display: inline-block;
    vertical-align: middle;
   width: 30%;
   margin: 10px 10px;
}
.aboutus-li div {
    width: 250px;
    height: 178px;
    border: 2px solid pink ;
    border-radius: 50%;

}
.aboutus-li div svg {
    padding: 29px;
   
}

.aboutus-li div img {
    width: 247px;
    height: 175px;
    border-radius: 50%;
    

}